/* 공통 스타일 */
.about-me .content {
    padding: 0 2rem;
}

.content-left {
    gap: 3.5rem;
}

.content-right {
    flex: 1;
}

.profile-education .profile,
.profile-education .education {
    width: 100%;
}

.birth .sub-tit,
.email .sub-tit,
.phone .sub-tit,
.high .sub-tit,
.colleage .sub-tit,
.now .sub-tit {
    font-size: 2.3rem;
}

.birth p,
.email p,
.phone p,
.high p,
.colleage p,
.now p {
    font-size: 1.8rem;
}

/* 1520px 이하 */
@media (max-width: 1520px) {
    .about-me .content {
        gap: 5rem;
    }

    .content-left .role-info {
        gap: 1.1rem;
    }

    .role-info .ful {
        font-size: 5.5rem;
        line-height: 6.5rem;
    }

    .role-info .front-end {
        font-size: 9rem;
        line-height: 8rem;
    }

    .content-left .profile-info {
        width: 44rem;
    }

    p.greeting {
        font-size: 2.6rem;
    }

    p.goal {
        font-size: 1.5rem;
    }

    .content-right .profile-education {
        gap: 3.8rem;
    }

    .profile .personal-information,
    .education .personal-information {
        width: 36rem;
    }

    .birth .sub-tit,
    .email .sub-tit,
    .phone .sub-tit {
        width: 8rem;
    }

    .high .sub-tit,
    .colleage .sub-tit,
    .now .sub-tit {
        width: 9rem;
    }

    .profile-education .profile h4::before,
    .profile-education .education h4::before,
    .skills h4::before {
        width: 18.5rem;
        height: 9.5rem;
        top: -2.3rem;
        left: -4.2rem;
    }

    .profile-education .profile h4::after,
    .profile-education .education h4::after {
        left: 14rem;
        width: 22rem;
    }

    .skills h4::after {
        left: 14rem;
        width: 72rem;
    }

    .skills-list {
        gap: 4rem;
        margin-top: 4.5rem;
    }

    ul.left,
    ul.right {
        width: 37rem;
    }

    ul.study-work-list {
        width: 143rem;
    }

    .study-item {
        width: 46rem;
    }
}

/* 1340px 이하 */
@media (max-width: 1340px) {
    header .rel span {
        font-size: 2.8rem;
    }

    header .rel span:nth-of-type(1) {
        min-width: 14rem;
    }

    header .rel span:nth-of-type(2) {
        min-width: 19rem;
    }

    .title-box {
        transform: scale(0.8);
    }

    .cloud1,
    .cloud2 {
        width: 34rem;
    }

    .cloud2 {
        height: 24rem;
    }

    .cloud4 {
        right: -12rem;
    }

    aside ul {
        gap: 1.8rem;
    }

    .project-lst li .content .in {
        padding: 1rem;
    }

    .about-me .content {
        gap: 8rem;
    }

    .content-left {
        gap: 3rem;
    }

    .content-right {
        padding-right: 7rem;
    }

    .role-info .ful {
        font-size: 5rem;
        line-height: 6rem;
    }

    .role-info .front-end {
        font-size: 8rem;
        line-height: 7rem;
    }

    .content-left .profile-info {
        width: 40rem;
    }

    p.greeting {
        font-size: 2.4rem;
    }

    p.goal {
        font-size: 1.4rem;
    }

    .content-right .profile-education {
        gap: 2.5rem;
    }

    .birth .sub-tit,
    .email .sub-tit,
    .phone .sub-tit {
        width: 7.5rem;
        font-size: 2.2rem;
    }

    .high .sub-tit,
    .colleage .sub-tit,
    .now .sub-tit {
        width: 8.5rem;
        font-size: 2.2rem;
    }

    .birth p,
    .email p,
    .phone p,
    .high p,
    .colleage p,
    .now p {
        font-size: 1.7rem;
    }

    .profile-education .profile h4,
    .profile-education .education h4,
    .skills h4 {
        font-size: 3.4rem;
    }

    .profile-education .profile h4::before,
    .profile-education .education h4::before,
    .skills h4::before {
        width: 18rem;
        height: 9rem;
        top: -2.2rem;
        left: -4rem;
    }

    .profile-education .profile h4::after {
        width: 14rem;
    }

    .profile-education .education h4::after {
        width: 16rem;
    }

    .skills h4::after {
        left: 13rem;
        width: 59rem;
    }

    .skills-list {
        gap: 1.5rem;
        margin-top: 4rem;
    }

    ul.left,
    ul.right {
        width: 35rem;
    }

    ul.left li,
    ul.right li {
        gap: 2rem;
    }

    .study-item {
        width: 39rem;
        height: 37rem;
    }

    .text-box.front .content h4.title {
        font-size: 3rem;
    }

    .text-box.front .content .hash-box span {
        font-size: 1.5rem;
    }

    .text-box.back .content p.txt {
        font-size: 2.2rem;
        width: 33rem;
    }

}

/* 1200px 이하 */
@media (max-width: 1200px) {
    aside ul li {
        width: 4.5rem;
        height: 4.5rem;
    }

    .about-me .content {
        gap: 9rem;
    }

    .content-left {
        gap: 2.8rem;
    }

    .role-info .ful {
        font-size: 4.5rem;
        line-height: 5.5rem;
    }

    .role-info .front-end {
        font-size: 7rem;
        line-height: 6rem;
    }

    .content-left .profile-info {
        width: 36rem;
    }

    p.greeting {
        font-size: 2.2rem;
    }

    p.goal {
        font-size: 1.25rem;
    }

    .content-right {
        gap: 5rem;
    }

    .content-right .profile-education {
        gap: 0;
    }

    .birth .sub-tit,
    .email .sub-tit,
    .phone .sub-tit {
        width: 7rem;
        font-size: 2rem;
    }

    .high .sub-tit,
    .colleage .sub-tit,
    .now .sub-tit {
        width: 8rem;
        font-size: 2rem;
    }

    .birth p,
    .email p,
    .phone p,
    .high p,
    .colleage p,
    .now p {
        font-size: 1.6rem;
    }

    .profile-education .profile h4::before,
    .profile-education .education h4::before,
    .skills h4::before {
        width: 17rem;
        height: 8.5rem;
        top: -2rem;
        left: -3.8rem;
    }

    .skills h4::after {
        left: 12.5rem;
        width: 55rem;
    }

    .skills-list {
        gap: 3rem;
        padding-left: 2rem;
    }

    ul.left,
    ul.right {
        width: 32rem;
    }

    .study-item {
        width: 35.5rem;
        height: 34rem;
    }

    ul.study-work-list {
        width: 146rem;
    }

    .text-box.back .content p.txt {
        font-size: 2rem;
        width: 29rem;
    }
}

/* 1024px 이하 */
@media (max-width: 1024px) {
    p.goal {
        display: none;
    }

    .about-me .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .content-left .profile-info {
        flex-direction: column-reverse;
        width: auto;
        gap: 1.5rem;
    }

    .profile-info .profile-img {
        position: static;
    }

    .content-right {
        padding: 0;
        gap: 2.5rem;
        height: auto;
        min-height: auto;
        overflow: visible;
        width: 100%;
    }

    .content-right .profile-education {
        flex-direction: column;
        gap: 4rem;
    }

    .content-right .profile-education .profile,
    .content-right .profile-education .education {
        gap: 3rem;
    }

    .profile-education .profile h4::before,
    .profile-education .education h4::before,
    .skills h4::before {
        display: none;
    }

    .profile-education .profile h4::after,
    .profile-education .education h4::after {
        width: 57rem;
    }

    .skills h4::after {
        width: 59rem;
    }

    .skills {
        padding: 0 2rem 4rem;
        gap: 4.5rem;
    }

    .skills-list {
        flex-direction: column;
        gap: 1rem;
        margin-top: 3rem;
        padding-left: 0;
    }

    header .rel {
        padding: 0 2rem;
    }

    header .rel span {
        font-size: 2.5rem;
    }

    header .rel span:nth-of-type(2) {
        min-width: 17rem;
    }

    aside ul {
        gap: 0.8rem;
    }

    aside ul li {
        width: 4rem;
        height: 4rem;
    }

    .cloud1 {
        width: 27rem;
    }

    .cloud2 {
        width: 31rem;
        height: 18rem;
        top: 53rem;
        left: -5rem;
    }

    .cloud4 {
        right: -6rem;
        top: -3rem;
        width: 19.4rem;
        height: 14.3rem;
    }

    .introduction .rel p.description {
        font-size: 2.3rem;
        line-height: 3.1rem;
    }

    .about-me .section-title .img-wrap img {
        width: 3.4rem;
        height: 3.4rem;
    }

    .content-left .role-info {
        gap: 0;
    }

    .role-info .ful {
        font-size: 4.8rem;
    }

    .role-info .front-end {
        font-size: 7.9rem;
    }

    ul.left,
    ul.right {
        width: 36.7rem;
        gap: 1.2rem;
    }

    ul.left li,
    ul.right li {
        gap: 2.9rem;
    }

    /* Project */
    .solo h1 {
        font-size: 7rem;
    }

    .solo h1::after {
        width: 30.2rem;
        height: 22.2rem;
        top: 8rem;
        left: -16rem;
    }

    .mid-tit {
        gap: 1.5rem;
    }

    .mid-tit img {
        width: 5.1rem;
        height: 5.1rem;
    }

    .mid-tit h2 {
        font-size: 3rem;
    }

    .solo-list,
    .team-list,
    .study-list {
        gap: 4.3rem;
    }

    ul.solo-work-list li a .left .top .badge {
        font-size: 2.2rem;
        line-height: 2.1rem;
        letter-spacing: -0.1rem;
    }

    ul.solo-work-list li a .left .top .link-box span {
        font-size: 1.3rem;
    }

    .left .bottom h4.work-tit {
        font-size: 3.5rem;
    }

    .right .tag-box {
        gap: 0.4rem;
    }

    .right .tag-box span {
        font-size: 1.6rem;
    }

    .project-lst li .content .in {
        gap: 3.7rem;
    }

    .project-lst li .content .in .img-wrap {
        width: 37rem;
    }

    .project-lst li.On .content .in .t-wrap h3 {
        font-size: 2.2rem;
    }

    .project-lst li.On .content .in .t-wrap p {
        font-size: 1.5rem;
        width: 28rem;
        line-height: 1.9rem;
    }

    ul.solo-work-list li .content .in .t-wrap .link-box>a {
        width: 3.5rem;
        height: 3.5rem;
        padding: 0;
    }

    /* Study */
    .study-item {
        width: 44.5rem;
        height: 34rem;
    }

    ul.study-work-list {
        width: 92rem;
    }

    .text-box.front .num,
    .text-box.back .num {
        font-size: 3.3rem;
        line-height: 3.3rem;
    }

    .text-box.front .content {
        gap: 3.1rem;
    }

    .text-box.front .content h4.title {
        font-size: 3.6rem;
    }

    .text-box.front .content .hash-box {
        gap: 2.4rem;
    }

    .text-box.front .content .hash-box span {
        font-size: 1.7rem;
        letter-spacing: 0.1rem;
    }

    .text-box.back .content p.txt {
        font-size: 2.4rem;
    }

    /* Footer */
    .my-info {
        gap: 3.5rem;
    }

    .my-info .greeting {
        font-size: 3.8rem;
        line-height: 2rem;
        letter-spacing: -0.1rem;
    }

    .my-info .name {
        font-size: 2.4rem;
    }

    .my-info .sns-wrap {
        gap: 2.3rem;
    }

    .my-info .sns-wrap .call,
    .my-info .sns-wrap .mail,
    .my-info .sns-wrap .insta {
        gap: 0.4rem;
    }

    .my-info .sns-wrap .call img,
    .my-info .sns-wrap .mail img,
    .my-info .sns-wrap .insta img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .my-call,
    .my-mail,
    .my-insta {
        font-size: 1.5rem;
    }

    .contact .deco.deco4 {
        width: 21rem;
        height: 21rem;
    }

    .contact .deco.deco5 {
        width: 11rem;
        height: 11rem;
    }
}

/* 960px 이하 */
@media (max-width: 960px) {
    header .rel span {
        font-size: 2rem;
    }

    header .rel span:nth-of-type(1) {
        min-width: 11rem;
    }

    header .rel span:nth-of-type(2) {
        min-width: 14rem;
    }

    .cloud1 {
        width: 22rem;
    }

    .cloud2 {
        width: 26rem;
        height: 13rem;
    }

    section.introduction::after {
        width: 33rem;
        height: 15rem;
        top: 3.2rem;
        left: -11rem;
    }

    .title-box {
        transform: scale(0.7);
    }

    .content-right .profile-education {
        gap: 3rem;
    }

    .solo h1 {
        font-size: 6rem;
    }

    .study-item {
        width: 38rem;
        height: 30rem;
    }

    .text-box.front .content h4.title {
        font-size: 3.2rem;
    }

    .text-box.front .content .hash-box span {
        font-size: 1.4rem;
    }

    .text-box.back .content {
        gap: 2rem;
    }

    .text-box.back .content p.txt {
        font-size: 2.2rem;
        width: 33rem;
    }
}

/* 880px 이하 */
@media (max-width: 880px) {
    .cloud2 {
        top: 63rem;
    }

    .right .tag-box {
        display: none;
    }

    .project-lst li .content .in .img-wrap {
        width: 45rem;
    }

    .study-item {
        width: 35rem;
        height: 27rem;
    }

    .text-box.front .num,
    .text-box.back .num {
        font-size: 2.5rem;
    }

    .text-box.front .content h4.title {
        font-size: 2.8rem;
    }

    .text-box.back .content {
        gap: 1rem;
    }

    .text-box.back .content p.txt {
        font-size: 1.7rem;
    }

    .text-box.front .content .hash-box span {
        font-size: 1.3rem;
    }
}

/* 760px 이하 */
@media (max-width: 760px) {
    aside {
        top: 65%;
    }

    .profile-education .profile h4::after,
    .profile-education .education h4::after {
        width: calc(100% - 20rem);
    }

    .skills h4::after {
        width: calc(100% - 14.5rem);
    }

    .study-item {
        width: 31rem;
        height: 24rem;
    }

    .text-box.front .content h4.title {
        font-size: 2.4rem;
    }

    .text-box.back .content p.txt {
        width: 25rem;
    }

    .text-box.back .img_wrap {
        display: flex;
        gap: 1rem;
    }

    .text-box.back .img_wrap a {
        width: 3rem;
    }

    .my-call,
    .my-mail,
    .my-insta {
        display: none;
    }

    .contact .deco.deco3,
    .contact .deco.deco6 {
        width: 32rem;
        height: 18rem;
    }
}

/* 660px 이하 */
@media (max-width: 660px) {
    .solo h1 {
        font-size: 5rem;
    }

    .left .bottom h4.work-tit {
        font-size: 3.2rem;
    }

    .project-lst li.On .content .in .t-wrap h3,
    .project-lst li.On .content .in .t-wrap p {
        display: none;
    }

    .project-lst li .content .in {
        flex-direction: column;
    }

    ul.study-work-list {
        width: 60rem;
    }

    .study-item {
        width: 28rem;
        height: 23rem;
    }

    .text-box.front .content h4.title {
        font-size: 2.1rem;
    }

    .text-box.front .content .hash-box {
        gap: 1.4rem;
    }

    .text-box.front .content .hash-box span {
        font-size: 1.1rem;
    }

    .text-box.front .num,
    .text-box.back .num {
        font-size: 2.2rem;
    }

    .text-box.back .content {
        padding-top: 3rem;
    }

    .text-box.back .content p.txt {
        font-size: 1.4rem;
        line-height: 2.1rem;
        width: 21rem;
    }

    .contact .deco.deco4 {
        width: 13rem;
        height: 27rem;
    }

    .contact .deco.deco5 {
        width: 9rem;
        height: 13rem;
    }
}

/* 600px 이하 */
@media (max-width: 600px) {

    header .rel,
    .introduction .rel,
    .about-me .rel,
    .project .rel,
    .contact .rel {
        padding: 0 2rem;
    }

    .title-box {
        transform: scale(0.6);
    }

    .cloud2 {
        top: 70rem;
    }

    section.project .deco.moon4 {
        display: none;
    }

    .role-info .ful {
        font-size: 5rem;
    }

    .role-info .front-end {
        font-size: 6.9rem;
    }

    .solo h1 {
        font-size: 5rem;
    }

    .left .bottom h4.work-tit {
        font-size: 3rem;
    }
}

/* 520px 이하 */
@media (max-width: 520px) {
    aside ul li {
        width: 3.5rem;
        height: 3.5rem;
    }

    header .rel {
        display: none;
    }

    .title-box {
        transform: scale(0.55);
    }

    header .rel,
    .introduction .rel,
    .about-me .rel,
    .project .rel,
    .contact .rel {
        padding: 0 1rem;
    }

    ul.solo-work-list li a .left .top {
        flex-direction: column;
        align-items: flex-start;
    }

    ul.solo-work-list li a .left .top .link-box span {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .project-lst li .content .in .img-wrap {
        width: 30rem;
    }

    ul.study-work-list {
        width: 50rem;
    }

    .study-item {
        width: 33rem;
        height: 24rem;
    }

    .my-info .greeting {
        font-size: 3.4rem;
    }
}

/* 470px 이하 */
@media (max-width: 470px) {
    .role-info .ful {
        font-size: 4rem;
    }

    p.greeting {
        font-size: 1.9rem;
    }
}

/* 400px 이하 */
@media (max-width: 400px) {
    .section-title::after {
        height: 21rem;
    }

    .cloud1 {
        width: 18rem;
    }

    .cloud2 {
        top: calc(50% - -3rem);
        z-index: 0;
        width: 20rem;
        height: 10rem;
    }

    aside ul li {
        width: 3rem;
        height: 3rem;
    }

    .title-box {
        transform: scale(0.45);
    }

    section.introduction::after {
        display: none;
    }

    .section-title span {
        font-size: 3rem;
    }

    .about-me .content {
        gap: 2rem;
    }

    .about-me .content .content-left {
        gap: 1rem;
    }

    .role-info .front-end {
        font-size: 5.9rem;
        line-height: 5rem;
    }

    p.greeting {
        font-size: 1.7rem;
        z-index: 5;
    }

    .profile-info .profile-img {
        position: relative;
        width: 29rem;
        top: 0;
        right: calc(100% - 31rem);
    }

    .profile-education .profile h4,
    .profile-education .education h4,
    .skills h4 {
        font-size: 2.9rem;
    }

    .profile-education .profile h4::after,
    .profile-education .education h4::after {
        width: calc(100% - 17.5rem);
    }

    .skills h4::after {
        width: calc(100% - 12.5rem);
    }

    .birth .sub-tit,
    .email .sub-tit,
    .phone .sub-tit,
    .high .sub-tit,
    .colleage .sub-tit,
    .now .sub-tit {
        font-size: 1.9rem;
    }

    .birth p,
    .email p,
    .phone p,
    .high p,
    .colleage p,
    .now p {
        font-size: 1.6rem;
    }

    .bar {
        width: 22.3rem;
    }

    section.project {
        padding: 0 1rem 20rem;
    }

    .solo h1 {
        font-size: 4.5rem;
    }

    ul.solo-work-list li a .left {
        gap: 2.3rem;
    }

    ul.solo-work-list li a .left .top {
        gap: 2.5rem;
    }

    ul.solo-work-list li a .left .top .link-box {
        gap: 0.5rem;
    }

    .left .bottom h4.work-tit {
        font-size: 2.4rem;
    }

    .project-lst li .content .in .img-wrap {
        width: 25rem;
    }

    .text-box.front .content {
        gap: 2.1rem;
    }

    .text-box.front .content h4.title {
        font-size: 2rem;
    }

    .text-box.front .content .hash-box {
        gap: 1.4rem;
    }

    .text-box.front .content .hash-box span {
        font-size: 1rem;
    }

    .text-box.front .num,
    .text-box.back .num {
        font-size: 2rem;
    }

    .my-info .greeting {
        font-size: 2.8rem;
    }

    .contact .deco.deco3,
    .contact .deco.deco6 {
        display: none;
    }
}